@import "tailwindcss";

:root {
  --storm: #142020;
  --indigo: #1c2233;
  --navy: #161a31;
  --midnight: #06091f;
  --aqua: #33c2cc;
  --primary: #030412;
}

body {
  background: #0b1212;
  color: #fafafa;
  scroll-behavior: smooth;
  overflow-x: hidden;
}
